div(id='details' ,class='monospace selection')
    form(action='/', method='POST')      
        p Search for : 
            input(type='text', name='searchdata')
        input(type='submit', value='search')
