div(id='details' ,class='monospace selection')
    form(action='/addWatch',method='POST')
         p WatchString: 
            input(type='text',name='watchstring')
         input(type='submit',value='Save')
